{% extends 'common.html' %}

{% block title %}
Connection page

{% endblock title %}

{% block body %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>
    Documents required for new connection!   
  </strong> </br> 
  1. Latest Passport Size Photo of the Applicant (in jpeg or png format) </br>
  2. Proof of Identity (Voter identity card / Passport / Driving license / Ration card/ BPL card/ PAN card / Aadhaar Card) </br>
  3. Residential Address Proof (Driving License/ Bank Passbook/ Aadhaar Card / Telephone Bill / BPL Card / Passport)
  4. Proof of the legal occupation of the premises(Holding No., Lease Agreement, Rent Agreement, Sale Deed) </br>
  5. Test report from authorized electrical contractor / supervisor.  </br>
  Note: Copies of all the documents uploaded shall be self-attested by the applicant and the original copy may be required to be produced at the time of inspection, if required by the licensee.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock body %}

